.jumbotron{
	margin-top: 50px;
}

.jumbotron-image{

	background-image: url("../images/banner.jpg");

	background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}


footer{
	padding: 10px 10px 0px 10px;
	background-color: #E2E3E8;
	margin-bottom: 0 px;
	margin-top: 50px;
}


@media (max-width: 576px) {  
	footer{
		padding: 20px 20px 10px 20px;
	}
	
}
 

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}


.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.color-plus{
	color: #272D5B;
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}