@yellow: #fdff87;
@red: #bf2000;
@green: #576b5a;
@grey: #edf3ff;
@blue: #272D5B;


.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}


.jumbotron {
    .margenes(1px, 1px);

    .paddings(7px, 7px, 7px, 7px);
    
    background-color: @green; }
  
  .jumbotron-image {
    background-image: url("../images/banner.jpg");
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat; }
  
  footer {
    .paddings(10px, 10px, 0px, 10px);

    background-color: @grey;

    .margenes(50px, 0px); }
  
  @media (max-width: 576px) {
    footer {
        .paddings(20px, 20px, 10px, 20px); } }
  
  .card-hotel {
    flex: 1 200px;

    .margenes(10px, 0px); }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
      .paddings(0px, 10px, 0px, 0px); }
  
  .color-plus {
    color: @blue;

    .paddings(0px, 10px, 0px, 0px); }
  
  .tab-content {
      .paddings(10px, 0px, 0px, 0px); }
  