.jumbotron {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  background-color: #576b5a;
}
.jumbotron-image {
  background-image: url("../images/banner.jpg");
  background-position: 0% 20%;
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #edf3ff;
  margin-top: 50px;
  margin-bottom: 0px;
}
@media (max-width: 576px) {
  footer {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.color-plus {
  color: #272D5B;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
