$yellow: #fdff87;
$red: #bf2000;
$green: #576B5A;
$grey: #edf3ff;
$blue: #272d5b;


@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}


.jumbotron{
    @include margenes(1px, 1px);
    @include paddings(5px, 5px, 5px, 5px);
    background-color: $green;
}

.jumbotron-image{

	background-image: url("../images/banner.jpg");

	background-position: 0% 5%;
    background-size: cover;
    background-repeat: no-repeat;
}


footer{
    @include paddings(10px, 10px, 0px, 10px);

	background-color: $grey;

    @include margenes(50px, 0px);
}


@media (max-width: 576px) {  
	footer{
        @include paddings(20px, 20px, 10px, 20px);
	}
	
}
 

.card-hotel{
	flex: 1 200px;
    
    @include margenes(10px, 0px);
}


.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
    @include paddings(0px, 10px, 0px, 0px);
}

.color-plus{
	color: $blue;
    @include paddings(0px, 10px, 0px, 0px);
}

.tab-content{
    @include paddings(10px, 0px, 0px, 0px);    
}